:local(.col) {
    margin-top: 16px;
}

:local(.main) {
    display: -webkit-inline-box;
}

:local(.img) {
    width: 110%;
    height: auto;
}

:local(.text) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

:local(.imgDiv) {
    text-align: right;
}

:local(.button) {
    float: right;
    max-width: 100%;
    overflow: hidden;
}